@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Dosis&display=swap");
* {
  font-family: "Dosis", sans-serif;
}
body {
  background-color: #f0eadc;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #f0eadc;
  height: fit-content;
  display: inline-flex;
  border-bottom: 2px solid #725229;
}
.logo-container img {
  object-fit: cover;
  width: 15rem;
  height: inherit;
  margin-inline: 2rem;
}

.navbar-options ul {
  list-style-type: none;
  display: inline-flex;
}

.navbar-options {
  display: inline-flex;
  justify-content: end;
}

.navbar-options li {
  padding-inline: 2rem;
}
.navbar-options button {
  font-size: 2.5vh;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
}
.cart-btn {
  border: none;
  background-color: #72522900;
  color: #725229;
}

.first-section {
  height: fit-content;
  background: #f0eadc;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-flex;
}
.left h1 {
  padding-left: 5rem;
  font-family: "Lora", serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 10vh;
  text-shadow: 0px 0px 10px black;
}
.left p {
  padding-left: 5rem;
  padding-top: 5rem;
  color: #725229;
  font-size: 3vh;
}
.store-btn {
  width: 50%;
  border: 1px solid #725229;
  border-radius: 5px;
  padding: 1rem;
  font-size: 2vh;
  justify-content: center;
  text-align: center;
  background-color: #725229;
  color: white;
  height: fit-content;
}
.store-btn:hover {
  background-color: #332614;
  color: #f0eadc;
  border: 2px solid black;
}
.right {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.landing-display {
  border: 1px solid #725229;
  border-radius: 30%;
  height: fit-content;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  box-shadow: 0px 0px 20px #332614;
}
.landing-display img {
  width: 20vw;
  padding: 2rem;
}
.landing-display h4 {
  font-family: "Lato", serif;
  font-size: 3vh;
  color: #725229;
}
.landing-display hr {
  width: 50%;
}
.description {
  width: 50%;
}

.reasons-div {
  border-block: 2px solid #725229;
  background-color: #f0eadc;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
.reason {
  width: 33%;
  padding-inline: 5rem;
  padding-block: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.reason:nth-child(2) {
  border-inline: 2px solid #725229;
}
.reason img {
  width: 2.5vw;
  object-fit: contain;
  margin-inline: 1rem;
}
.reason h3 {
  font-family: "Dosis", sans-serif;
  color: #725229;
}
.category-display-section {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #f0eadc;
}
.category {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

.category-image img {
  width: 250px;
  object-fit: contain;
}
.category-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #725229;
}
.category-details h3 {
  font-family: "Bangers", cursive;
  font-size: 10vh;
  text-shadow: 0px 0px 8px rgb(96, 96, 96);
}
.category-details h4 {
  font-family: "Dosis", sans-serif;
  font-size: 5vh;
}
.category-details a {
  color: #725229;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #725229;
  color: #f0eadc;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.link-btn {
  text-decoration: none;
  width: 100%;
}

.copyright {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Dosis", sans-serif;
}
.store {
  width: 100%;
}
.category-links {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.category-links ul {
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 0;
}
.category-links li {
  font-family: "Dosis", sans-serif;
}
.category-btn {
  width: 15vw;
  border: none;
  margin: 0;
  border-radius: 0;
  background-color: #f0eadc;
  padding: 0.5rem;
  outline: none;
  color: #725229;
}
.category-btn:hover {
  background-color: white;
}
.category-btn-active {
  background-color: #725229;
  color: #f0eadc;
  width: 15vw;
  border: none;
  outline: none;
  padding: 0.5rem;
}
.line {
  margin: 0;
  padding: 0;
  width: 75%;
  height: 1.5px;
  background-color: #725229;
}
.line2 {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 2px;
  background-color: #f0eadc;
}
.line3 {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 2px;
  background-color: #725229;
}
.head,
.checkout-head {
  width: 100%;
  text-align: center;
}
.head h2 {
  font-family: "Lato", serif;
  text-shadow: 0px 0px 8px #332614;
  text-transform: uppercase;
}
.checkout-head h2 {
  font-family: "Dosis", sans-serif;
}

.card-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding-inline: 5vw;
  padding-block: 1rem;
}

.item-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #725229;
  width: fit-content;
  margin: 1rem;
  height: fit-content;
  justify-self: center;
}
.img-sect {
  border-bottom: 1px solid #725229;
  height: 50vh;
}
.img-sect img {
  width: 300px;
  height: 100%;
  object-fit: cover;
}
.item-details {
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  height: 30%;
}
.item-details button {
  width: 100%;
  color: #f0eadc;
  background-color: #725229;
  border: none;
  padding: 0.5rem;
}
.count {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.count button {
  margin: 0.5rem;
}

.cart {
  width: 100%;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
}
.cart-table {
  display: inline-flex;
  padding-block-start: 2vh;
  padding-block-end: 4vh;
  padding-inline: 10vw;
  width: 100%;
  margin: 0;
}
table {
  margin: 0;
}
.table {
  width: 70%;
  margin: 0;
  background-color: white;
  padding: 1rem;
  border: 1px solid #725229;
  height: 75vh;
  overflow-y: scroll;
}
.cart-products {
  width: 100%;
}
.checkout {
  width: 30%;
  background-color: #725229;
  color: #f0eadc;
  height: inherit;
  display: inline-flex;
  flex-direction: column;
  padding-block: 5rem;
  align-items: center;
}
.product-image {
  width: fit-content;
  padding: 0.5rem;
}
.product-image img {
  width: 150px;
  object-fit: contain;
}
.product-image h6 {
  width: fit-content;
}
.product-amt button {
  border: none;
  background-color: #725229;
  color: #f0eadc;
  width: 4rem;
}
.totals-tbl {
  padding-block: 3rem;
  font-size: 3vh;
}
.totals-tbl td {
  padding-inline: 1rem;
}
.checkout-btns {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
}

.btn-checkout {
  width: 100%;
  padding: 1rem;
  background-color: gold;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 3vh;
}
.btn-checkout:hover {
  background-color: rgb(255, 224, 46);
}
.terms {
  padding-block: 2rem;
  font-size: 2.5vh;
}
.exit {
  padding-block: 2vh;
  width: 100%;
  padding: 1rem;
  display: inline-flex;
  justify-content: center;
}
.exit button {
  color: #f0eadc;
}
.exit a {
  color: #f0eadc;
}
.socials {
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}
.socials li {
  font-size: 4.5vh;
}
.socials li:nth-child(1):hover {
  color: #3b5998;
}
.socials li:nth-child(2):hover {
  color: #8a3ab9;
}
.socials li:nth-child(3):hover {
  color: #1da1f2;
}
.footer-options ol {
  list-style-type: none;
  padding: 2rem;
}
.footer-options button {
  padding: 1rem;
  font-size: 2.5vh;
  width: 100%;
}
.footer-options a {
  text-decoration: none;
  color: #f0eadc;
}
.line-up {
  height: 150px;
  width: 2px;
  background-color: #f0eadc;
  margin-inline: 3vw;
}

.auth-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f0eadc;
  height: fit-content;
  display: inline-flex;
  border-bottom: 2px solid #725229;
}
.sign-up {
  margin-top: 12vh;
  display: inline-flex;
  width: 50%;
  height: fit-content;
  background-color: #332614ad;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
}
.sign-in {
  width: 50%;
  height: fit-content;
  background-color: #332614ad;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.auth-body {
  font-family: "Dosis", sans-serif;
  color: #f0eadc;
}
.sign-in-form {
  width: 100%;
  padding-inline: 3rem;
}
.toggle-options {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.toggle-options button {
  color: #1da1f2;
  border-radius: 0;
}

.admin-container {
  width: 100%;
  height: fit-content;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.head-admin {
  margin-top: 10vh;
  font-family: "Dosis", sans-serif;
}
.display {
  background-color: #332614b7;
  width: 90%;
  height: fit-content;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.admin-options {
  width: 20%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.797);
  border-radius: 5px;
  color: #f0eadc;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.admin-options ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}
.admin-options li {
  padding: 1rem;
  color: #f0eadc;
}
.admin-options button {
  color: #f0eadc;
  width: 100%;
}
.panel-main {
  width: 78%;
  background-color: rgba(0, 0, 0, 0.797);
  height: fit-content;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: #f0eadc;
}
.panel {
  width: 78%;
  background-color: rgba(0, 0, 0, 0.797);
  height: fit-content;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
  color: #f0eadc;
}
.panel-actions {
  width: 100%;
  padding: 3rem;
  display: inline-flex;
  flex-direction: row;
  height: fit-content;
}

.panel-actions table {
  width: 100%;
}

.image-update {
  border: 1px solid #f0eadc;
  border-radius: 5px;
  height: 50vh;
  display: inline-flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}
.image-update img {
  width: inherit;
  height: 80%;
  object-fit: contain;
  padding: 1rem;
}
.product-details {
  border: 1px solid #f0eadc;
  border-radius: 5px;
  height: inherit;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 2vw;
  width: 100%;
}

.logout {
  background-color: #332614ad;
  width: 20%;
  position: fixed;
  z-index: 5;
  top: 10vh;
  display: none;
  flex-direction: row;
  border-radius: 5px;
  padding: 1rem;
  right: 2vw;
}
.add-Prod-form {
  width: 100%;
  display: inline-flex;
}
.cat_id {
  display: none;
  position: fixed;
}
.user_head td {
  padding-inline: 2rem;
  padding-block: 2rem;
}
.user_head {
  border-bottom: 1px solid #f0eadc;
  position: sticky;
  background-color: #14130f;
  top: 0;
}
.user-row {
  margin: 1px;
}
.user-row:hover {
  background-color: #f0eadc9a;
  border-radius: 5px;
  color: #332614;
}
.user-row td {
  padding: 2rem;
}
.user_tbl {
  height: 60vh;
  overflow-y: scroll;
}
.prod_img {
  width: 100px;
  object-fit: contain;
}
